<!DOCTYPE html>
<html lang="en">

    <%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>

        <main>
            <h1><%= post.title %></h1>

            <article>
                <%
                let postDate = new Date(post.createDate || 0); // Prevents
                'Invalid Date' issues
                let formattedDate = isNaN(postDate) ? "Unknown Date" :
                `${postDate.getMonth() +
                1}/${postDate.getDate()}/${postDate.getFullYear()}`;
                %>

                <small>Posted by <%= post.username %> on <%= formattedDate
                    %></small>

                <div>
                    <%- post.content ? filterUserHTML(post.content) :
                    "No content available." %>
                </div>
            </article>

            <% if (post.authorid == user?.userid) { %>
            <a href="/edit-post/<%= post.id %>" class="button">Edit post</a>

            <form style="display: inline;" action="/delete-post/<%= post.id %>"
                method="POST">
                <button type="submit" class="button">Delete post</button>
            </form>
            <% } else { %>
            <p></p>
            <% } %>

        </main>

        <%- include("partials/footer") %>
    </body>
</html>
